[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/upagge/uBlogger.git
[submodule "themes/uBlogger0.62.0"]
	path = themes/uBlogger0.62.0
	url = https://github.com/upagge/uBlogger.git
